<a href="https://colab.research.google.com/github/aifajar/FP-UG-ITS-2021-noisy-IDS-AE/blob/main/CreateImportFileDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/aifajar/FP-UG-ITS-2021-noisy-IDS-AE/main/NUSW-NB15_GT.csv'

df = pd.read_csv(url)

df.head()

   Start time   Last time  ...                                   Attack Reference  .
0  1421927414  1421927416  ...                                                  -  .
1  1421927415  1421927415  ...  CVE 2002-0573 (http://cve.mitre.org/cgi-bin/cv...  .
2  1421927416  1421927416  ...  CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...  .
3  1421927417  1421927417  ...  CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...  .
4  1421927418  1421927418  ...  CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...  .

[5 rows x 12 columns]

In [5]:
df_tcp = df[df['Protocol']=='tcp']

df_tcp.head()

   Start time   Last time  ...                                   Attack Reference  .
0  1421927414  1421927416  ...                                                  -  .
2  1421927416  1421927416  ...  CVE 2005-4560 (http://cve.mitre.org/cgi-bin/cv...  .
3  1421927417  1421927417  ...  CVE 2011-1729 (http://cve.mitre.org/cgi-bin/cv...  .
4  1421927418  1421927418  ...  CVE 2001-0537 (http://cve.mitre.org/cgi-bin/cv...  .
5  1421927419  1421927419  ...  http://www.exploit-db.com/exploits/21523/ (htt...  .

[5 rows x 12 columns]

In [6]:
df_attack_tuple = df_tcp[['Attack category', 'Attack subcategory', 'Source IP', 'Source Port', 'Destination IP', 'Destination Port']]

df_attack_tuple.head()

  Attack category   Attack subcategory  ...  Destination IP  Destination Port
0  Reconnaissance                 HTTP  ...  149.171.126.16                80
2        Exploits              Browser  ...  149.171.126.16                80
3        Exploits  Miscellaneous Batch  ...  149.171.126.16              5555
4        Exploits           Cisco IOS   ...  149.171.126.10                80
5             DoS        Miscellaneous  ...  149.171.126.15                80

[5 rows x 6 columns]

In [7]:
df_attack_tuple.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56596 entries, 0 to 174346
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Attack category     56596 non-null  object
 1   Attack subcategory  56318 non-null  object
 2   Source IP           56596 non-null  object
 3   Source Port         56596 non-null  int64
 4   Destination IP      56596 non-null  object
 5   Destination Port    56596 non-null  int64
dtypes: int64(2), object(4)
memory usage: 3.0+ MB

In [8]:
df_attack_tuple = df_attack_tuple.rename({'Attack category': 'atk_category', 'Attack subcategory': 'atk_subcategory', 'Source IP': 'src_ip', 
                                          'Source Port': 'src_port', 'Destination IP': 'dst_ip', 'Destination Port': 'dst_port'}, axis=1)

df_attack_tuple.head()

     atk_category      atk_subcategory  ...          dst_ip  dst_port
0  Reconnaissance                 HTTP  ...  149.171.126.16        80
2        Exploits              Browser  ...  149.171.126.16        80
3        Exploits  Miscellaneous Batch  ...  149.171.126.16      5555
4        Exploits           Cisco IOS   ...  149.171.126.10        80
5             DoS        Miscellaneous  ...  149.171.126.15        80

[5 rows x 6 columns]

In [9]:
df_attack_tuple.to_csv('clean_testing_dataset.csv', index=False)

In [11]:
df2 = pd.read_csv('clean_testing_dataset.csv')

df2.head()

     atk_category      atk_subcategory  ...          dst_ip  dst_port
0  Reconnaissance                 HTTP  ...  149.171.126.16        80
1        Exploits              Browser  ...  149.171.126.16        80
2        Exploits  Miscellaneous Batch  ...  149.171.126.16      5555
3        Exploits           Cisco IOS   ...  149.171.126.10        80
4             DoS        Miscellaneous  ...  149.171.126.15        80

[5 rows x 6 columns]